.navbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 100px;

}

.logoImgHeader {
    height: 100%;

    img {
        height: 100%;
        width: 100%;
    }
}

.menuNavHeader {
    display: flex;
    gap: 1.5rem
}

.carritoHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    button {
        transition: 0.1s;
    }
}